body{
    background-color: black;
}
.profile-image{
    width:50px;
    height: 50px;
    border-radius: 25px;
}
.redo{
    padding-left: 250px;
}
.p{
    width: 100%;
    height: 45px;
    background-color: black;
    border-radius: 10px;
    color: white;
}
p{
    text-align: center;
}
.p1{
    border-radius: 10px;
    background-color: rgb(1, 1, 15);
    color: white;
}
.button{
    border-radius:center;
    background-color: darkblue;
    color: white;
}
.modal{
    
        
        top: 250px;
        left: 410px;
        z-index: 1055;
        display: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
    }